#svg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #0e0e0e;
    color: red;
  }
  body {
    margin: 0;
    height: 100vh;
    background-color: #0e0e0e;
  }
  
  line {
    transform-origin: center;
    animation: do 10s infinite alternate;
  }
  line:nth-child(6n) {
    animation-delay: -1s;
  }
  line:nth-child(6n + 1) {
    animation-delay: -2s;
  }
  line:nth-child(6n + 2) {
    animation-delay: -3s;
  }
  line:nth-child(6n + 3) {
    animation-delay: -4s;
  }
  line:nth-child(6n + 4) {
    animation-delay: -5s;
  }
 line:nth-child(6n + 5) {
    animation-delay: -6s;
  }
  @keyframes do {
    100% {
      transform: scale(0.69);
    }
  }
nav {
    position: fixed;
    z-index: 2;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 2rem;
    font-family: 'Lato', sans-serif;
    color: #eee;
    background-color: #0e0e0e;
    width: 100%;
    z-index: 3;
  }
nav ul {
    display: flex; 
    list-style: none; 
  }
nav li {
    padding-left: 1rem; 
  }
a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #eee;
  border-bottom: 1px solid;
  border-color: #eee;
}

a:visited {
  color: #eee;
}

a:focus {
  border-bottom: 1px solid;
  background: #eee;
}

a:hover {
  border-bottom: 1px solid;
  background: red;
}

a:active {
  background: red;
  color: white;
}
body{
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;

}
.container-1 {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #0e0e0e;
}
.Title{
  z-index: 2;
  top: 40%;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;

}
.Tagline {
  position: absolute;
  top: 52%;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: center;
  color: white;
}
button{

  z-index: 2;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  border-color:#eee;
  background-color: transparent;
  color: white;
}
.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1;
  align-items: center;
  height: 200vh;
  width: 100%;
  background: #0e0e0e;
  color: white;
  font-size: 20px;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  justify-content: center;
  align-items: center;
  background: #0e0e0e;
  color: white;
  font-size: 20px;
  list-style: none;
}
.skills-container ul{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}
.skills-container li{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}
.about h3{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  padding: 2%;
 
  z-index: 2;

}
.about p{

  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  padding: 4%;
  text-align: center;
  color: white;
}
* {box-sizing:border-box}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding: 5px 5 px 5px 5px;
  background: #0e0e0e;
  color: white;
  font-size: 20px;
}

.portfolio-container{
  display: flow-root;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background: #0e0e0e;
  color: white;
  font-size: 20px;
}
.portfolio-container h3{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  padding: 2%;
 
  z-index: 2;

}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background: #0e0e0e;
  color: white;
}
.contact-container h3{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  padding: 2%;
 
  z-index: 2;

}
.buttons{
 display: flow-root;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 10% 10% 10% 10%;
  background: #0e0e0e;
  color: white;
  font-size: 20px;
}

